.logo {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 160% */
    letter-spacing: -0.6px;
    color: #0A1B32;
    margin: 37px;
    margin: left 80px;
    ;
}

.title-section {
    display: inline-block;
}

img {
    max-width: 756px;
    width: 100%;
    margin-left: 10px;
}

.logo-dot {
    color: #A3DC00;
}

.main-title {
    max-width: 495px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: Ramaraja;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px;
    /* 105.556% */
    letter-spacing: 1.44px;
    color: #1B0A42;
}

.main-info {
    color: #9A9A9A;
    max-width: 582.71px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    letter-spacing: 0.4px;
}

.main-btn {
    width: 152px;
    height: 63.818px;
    margin-top: 50px;
    margin-left: 200px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #A3DC00;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 200% */
    letter-spacing: 0.32px;
    border: none;
}